.social__btn-kakao {
  background-color: transparent;
  color: seashell;
}

.social__btn-github {
  background-color: transparent;
  color: seashell;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  margin-top: 30px;
}

.social__btn {
  margin-top: 10px;
}
