extends base.pug

block content
  div
    video#preview
    button#startBtn Camera On
  if errorMsg
    h2=errorMsg
  form(method='POST', enctype='multipart/form-data')
    label(for='video') Video File
    input(type='file', accept='video/*', required, id='video', name='video')
    input(name='title', placeholder='Title', type='text', required, maxlength=80)
    input(name='description', placeholder='Description', type='text', required, minlength=10)
    input(name='hashtags', placeholder='Hashtags, separated by comma.', type='text', required)
    input(type='submit', value='Upload Video')

block scripts
  script(src='/static/js/recorder.js')