/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #ff1300;
  font-size: 36px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 39px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #191919;
  padding: 5px 10px;
  border-radius: 5px;
}

.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
}

.video-mixin .video-mixin__thumb {
  height: 140px;
  border-radius: 5px;
  width: 100%;
  background-color: ivory;
}
.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__title {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty__message {
  margin-bottom: 50px;
  font-size: 20px;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  padding-left: 10px;
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

form {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input:not([type=range]) {
  all: unset;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
input:not([type=range])::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type=submit],
.social__btn {
  padding: 12px 20px;
  background-color: white;
  color: rgba(255, 19, 0, 0.9);
  text-align: center;
  cursor: pointer;
  display: block;
}

.social__btn-kakao {
  background-color: transparent;
  color: seashell;
}

.social__btn-github {
  background-color: transparent;
  color: seashell;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  margin-top: 30px;
}

.social__btn {
  margin-top: 10px;
}

#videoContainer {
  width: 100%;
  position: relative;
}
#videoContainer video {
  width: 100%;
}
#videoContainer .videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  width: 95%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  background-color: #0f1117;
  padding: 10px;
  box-sizing: border-box;
}
#videoContainer .videoControls.showing {
  opacity: 1;
}
#videoContainer .videoControls .videoControls__play {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#videoContainer .videoControls .videoControls__playBtn {
  margin: 0px 15px;
}
#videoContainer .videoControls .videoControls__time {
  font-size: 12px;
}
#videoContainer .videoControls .videoControls__time :not(input) {
  margin: auto;
  width: 20%;
}
#videoContainer .videoControls .videoControls__time input {
  width: 80%;
}
#videoContainer .videoControls .videoControls__time span {
  position: relative;
  bottom: 3px;
}
#videoContainer .videoControls__volume {
  display: flex;
  align-items: center;
}
#videoContainer .videoControls__volume span {
  margin-left: 10px;
}
#videoContainer .videoControls__volume i {
  font-size: 20px;
}

.search__form {
  display: flex;
  position: relative;
  margin-bottom: 60px;
  align-items: center;
}
.search__form input {
  all: unset;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
  position: relative;
}
.search__form button {
  all: unset;
}
.search__form button {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  margin-bottom: 5px;
  right: 15px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile__data img {
  margin-bottom: 10px;
}
.profile__data h3 {
  font-size: 18px;
}

.edit-profile__form label {
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: #191919;
  color: white;
}

main {
  max-width: 1200px;
  margin-top: 50px;
  width: 100%;
  margin: 0 auto;
}
