div.social-login
  div
    a(href='/users/github/start').social__btn.social__btn-github       
      i.fab.fa-github 
      |  Continue with Github &rarr;
  div
    a(href='/users/kakao/start').social__btn.social__btn-kakao 
      |  Continue with Kakao &rarr;